## Basics

In [1]:
2+3

5

In [2]:
9-8

1

In [3]:
4*6

24

In [4]:
8/4

2.0

In [5]:
5//2

2

In [6]:
8+9-10

7

In [7]:
8+2*3

14

In [8]:
(8+2)*3

30

In [9]:
2**3

8

In [10]:
10 % 3

1

In [11]:
'Vish'

'Vish'

In [12]:
print("Vish")

Vish

In [14]:
print('vish's laptop)

SyntaxError: invalid syntax (1489430929.py, line 1)

In [13]:
print("Vish's laptop")

Vish's laptop

In [15]:
print('Vish "laptop"')

Vish "laptop"

In [16]:
print('vish's "laptop")

SyntaxError: invalid syntax (768073552.py, line 1)

In [18]:
print('vish\'s "laptop"')

vish's "laptop"

In [19]:
'vish' + 'vish'

'vishvish'

In [20]:
'vish' * 10

'vishvishvishvishvishvishvishvishvishvish'

In [22]:
print('c:\docs\nvish')

c:\docs
vish

In [23]:
print(r'c:\docs\nvish')

c:\docs\nvish

In [1]:
2 + 3

5

In [2]:
x = 2 # variable is a container name where a value is stored

In [3]:
x + 3

5

In [13]:
y = 3

In [5]:
x + y # change value of x

5

In [7]:
x = 9
x + y

12

In [14]:
x

9

In [9]:
abc #not defined variable gives nameerror

NameError: name 'abc' is not defined

In [17]:
x + 10

19

In [19]:
# _ + y # '_' represents the output of previous operation

In [21]:
# storing string in variable
name = 'youtube'
name

'youtube'

In [22]:
name + ' rocks'

'youtube rocks'

In [23]:
name ' rocks'

SyntaxError: invalid syntax (3532439946.py, line 1)

In [24]:
#fetch single charactor
name[6]

'e'

In [25]:
name[8] # index error as string dont have 9th letter

IndexError: string index out of range

In [26]:
#can use negative indexing starts from -1
name[-1]

'e'

In [27]:
name[-2]

'b'

In [29]:
name[-7]

'y'

In [31]:
name[0:2] #start from 0 to 1 last character doesnt count

'yo'

In [32]:
name[1:4]

'out'

In [33]:
name[1:]

'outube'

In [34]:
name[:4]

'yout'

In [35]:
name[3:10] #it will work without any error till available last one

'tube'

In [36]:
name[0:3] = 'my' # you cant chage the value once assigned strings are unmutable

TypeError: 'str' object does not support item assignment

In [38]:
name[0] = 'R'

TypeError: 'str' object does not support item assignment

In [37]:
'my ' + name[3:]

'my tube'

In [39]:
myname = 'vishal'

In [40]:
len(myname) #length of string

6

## List

In [41]:
a = [1,2,3,4,5,"v"]